body {
  height: 100vh;
  margin: auto;
  background-color: #ffccff
}

#form {
  padding: 1rem 3rem;
  font-family: 'Fasthand', cursive;
  background-color: #ff4dff;

  label {
    width: 100px;
    font-size: 1.5rem;
    word-spacing: 4px;
  }

  input {
    background-color: inherit;
    font-family: inherit;
    height: 20px;
    width: 185px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid black;
    color: black;
    margin-bottom: 10px;
    padding: 6px 0px 4px 10px;
    margin-left: 4px;

    &:focus {
      border: none;
      outline: none;
      background-color: #ff4dff;
      border-bottom: 1px solid black;
    }
    &[type=date]:invalid::-webkit-datetime-edit {
    color: black;
    }
  }

  #generate {
    font-family: 'Fasthand', cursive;
    padding: 8px 12px 6px;
    background-color: black;
    color: black;
    border-radius: 20px;
    margin-top: 4px;
    text-transform: uppercase;
    font-weight: bold;
    height: 2.5rem;
    width: 8.5rem;

    &:hover {
      border: white;
      color: black;
      background-color: black;
      transition: ease 0.25s;
    }
  }
}

.invalid {
  border: solid red !important;
  background-color: pink !important;
}
